body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    padding: 16px 240px 16px 80px;
    align-items: center;
    gap: 32px;
    background: #141414;
    color: #DADADA;
    justify-content: center;

}

.menu img {
    width: 55px;

}

.menu-item {
    cursor: pointer;
   text-decoration: none;

    padding-left: 40px;
}


.foto1 img {
    width: 600px;
}

h1 {
        
   padding: 80px;
   font-size: 100px;
    margin: 0%;
    color: #f3e7e7;
}

.capa {
    background-image: url("imagens/capa.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;

}


.imagens {
    background-color: #8BD2F3;
    height: 20%;
    justify-content: space-around;
    padding: 24px;
}

.imagem {
    height: 250px;
    width: 200px;
    border-radius: 8%;
}

.informacoes {
    padding: 20px;
    align-items: center;

    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 16px 80px 16px 80px;
}

.redes {
    align-items: center;

}

footer {
    display: flex;
    padding: 16px 80px 16px 80px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #0098C3;
    color: #DADADA;
}


.h1pop {

    text-align: center;
    color: #0098C3;
}

#popup {
    display: none;

}


.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #15455b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

p {
    color: #ededed;

}

.popup-content {
    color: #0098C3;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #DADADA;
    font-size: 20px;
}

input {
    padding: 8px;
    margin-top: 10px;
    background-color: #DADADA;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #DADADA;
    color: #141414;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #DADADA;
}
